<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Lists</title>
</head>
<body>
    <h1> All contacts </h1>

    <table>
        <tr data-th-each="c : ${datalist}">
            <td>
                <a data-th-href="@{'/calculate/' + ${c.dataId}}"
                data-th-text="${c.dataId}" >
            </td>
            <td><h2 data-th-text="*{c.fname}"></h2></td>
            <td><img src ="/images/heart.png" width="40"></td>
            <td><h2 data-th-text="*{c.sname}"></h2></td>
            <td><h2 data-th-text="*{c.percentage}"></h2></td>
            <td><h2 data-th-text="*{c.result}"></h2></td>
            

        </tr>

    </table>
</body>
</html>