<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Your result</title>
</head>
<body>
    <body data-th-object="${calculatorresults}">
        <div class = "container">

        <h1> Your love score results is out.</h1>
            
        <table>
            <row>
                <td>
                    <p>Your name</p>
                    <p data-th-text="*{fname}"></p>
                    <br>
                </td>
                <td>
                    <p>Your lover (or you wish) name</p>
                    <p data-th-text="*{sname}"></p>
                    <br>
                </td>
                <td>
                    <p>Percentage</p>
                    <p data-th-text="*{percentage}"></p>
                    <br>
                </td>
                <td>
                    <p>Percentage</p>
                    <p data-th-text="*{result}"></p>
                    <br>
                </td>

            </row>
        </table> 


<!-- 
            <p data-th-text="*{fname}"></p>
            <br>
            <p data-th-text="*{sname}"></p>
            <br>
            <p data-th-text="*{percentage}"></p>
            <br>
            <p data-th-text="*{result}"></p>
            <br> -->

        </div>
    </body>
</body>
</html>